* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button {
    padding: 15px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color 1.5s, color 0.4s, box-shadow 1.5s;
    animation: glow 2s linear infinite alternate;
}

button:hover {
    background-color: #b10f56;
    color: #fff;
    box-shadow: 0 0 10px #b10f56,
        0 0 20px #b10f56,
        0 0 40px #b10f56;
    text-shadow: 1px 2px 5px black;
    animation: none;
}

@keyframes glow {
    10% {
        border: 2px solid yellow;
    }

    20% {
        border: 2px solid blue;
    }

    30% {
        border: 2px solid green;
    }

    40% {
        border: 2px solid orange;
    }

    50% {
        border: 2px solid white;
    }

    60% {
        border: 2px solid palegoldenrod;
    }

    70% {
        border: 2px solid black;
    }

    80% {
        border: 2px solid pink;
    }

    100% {
        border: 2px solid #b10f56;
    }
}